extends layout

block content
  .heading
    h2 #{title}
  .intro
    p Resource Center is a platform for managing students data while sharing useful resources among themselves.
  ul.list_view
    li.list_view-card
      a(href="/resources")
        i(class='fa fa-book')
        p CHECK FOR RESOURCES
    li.list_view-card
      a(href="/students") 
        i(class='fa fa-group')
        p VIEW STUDENTS