extends layout

include mixins/studentCard

block content
  .heading
    h2= title 
    h3 View by
  .main
    ul.list_view
      li.list_view-card
        a(href="/departments") Department
      li.list_view-card
        a(href="/levels") Level