extends layout

include mixins/studentCard

block content
  .heading
    h2= title 
    h3 View by
  ul.list_view
    li.list_view-card
      a(href="/departments")
        i(class='fa fa-institution')
        p Department
    li.list_view-card
      a(href="/levels") 
        i(class='fa fa-signal')
        p Level