/************* 
  BODY
********/

html {
    font-family: 'Pontano Sans', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    height: auto;
}

body {
    margin: 0;
}

/***************
 HEADER
**************/
.header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 50px;
    display: flex;
    margin: 0;
    box-shadow: 0 5px 10px #000; 
    flex-direction: row;
    justify-content: space-between;
}
/**************
ALC LOGO
******************/
.title {
    color: #fff; 
    display: block;
    width: auto;
    height: 70%;
    padding: 0;
    text-align: center;
    margin: 10px auto;
}

.title h2 {
    margin: 0;
}
.title:hover {
    color: #CABBBB;
}

/**************
NAVIGATION LIST
***********************/
.nav-list {
float: left;
width: 12%;
padding: 15px 5px;
height: 30%;
text-align: center;
}
/************
 mobile navbar
********************/
.mobile_nav-button { 
    background-color: transparent;
    width: 50px;
    height: 100%;
    color: #565656;
    font-size: 23px;
    border: none;
}

.mobile_nav-button:hover {
    color: rgb(168, 6, 6);
}

.mobile_nav-button_close{
    display: none;
    width: 50px;
    height: 100%;
    color: #565656;
    background-color: transparent;
    font-size: 23px;
    border: none;
}

/***************
 mobile navdiv
*******************/
.mobile_nav-div {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: #F0EBEB;
    display: none;
    height: auto;
} 

.mobile_nav-div ul {
    text-align: left;
    list-style-type: none;
}

.mobile_nav-list {
    width: 100%;
    padding: 10px;
    height: 40px;
}

.mobile_nav-list:hover {
    color: #000;
}


.nav-list:hover {
    background-color: #fff;
    color: #000;
    border: 0;
    height: 31%;
}

/**********
 MAIN BODY
***************/
.main {
    width: 87%;
    display: block;
    background-color: #fff7c0;
    box-shadow: 10px 5px 50px #000;
    height: 100%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
}

/*********
 TOPIC
***************/
.heading {
    width: auto;
    font-size: 13px;
    text-align: center;
    height: 10%;
    display: block;
    margin: 20px auto auto auto;
}

/**************
 LIST VIEW CONTAINER
**********************/
.list_view {
  width: 100%;
  margin: auto;
  height: 250px;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
}

/**************
 LIST VIEW CARD
******************/
.list_view-card {
    width: 40%;
    margin: auto;
    box-shadow: 5px 10px 25px #3c3c3c;
    background-color: #f2EEe2;
    height: 80px;
    border-radius: 20px;
}

.list_view-card a {
    font-size: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    display: block;
    margin: auto;
}

.list_view-card i {
    text-align: center;
    font-size: 20px;
    width: 35%;
    padding: auto;
    display: block;
    margin: 20px auto;
}
/*********
 ALL H2 ELEMENTS
*********/
h2 {
    font-family: 'Playfair Display', serif;
    color: #76323F
}
/*******
 ALL LISTS
***************/
ul {
    list-style-type: none;
}

/****************
  LINKS
**************/
a {
    color: inherit;
    text-decoration: none;
}

/**************
  
 STUDENT'S PROFILE PICTURE

*****************/ 
.profile_picture {
    width: 80%;
    border-radius: 100%;
    max-width: 200px;
    margin-top: 10px;
    height: 200px;
}

/***********
 FLASHES
******************/

/************
 BUTTON
***************/
.flash_button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    color:#fff;
};

/***SUCCESS ***/
.flash_success {
    background-color: #fff;
    color: #000;
    height: auto;
    width: 98%;
    text-align: center;
    border: 3px solid green;
    margin: 20px auto;
    padding: 0;
    border-radius:20px;
    position: relative;
}

/******ERROR **********/
.flash_error {
    background-color: #000;
    color: #fff;
    height: auto;
    width: 98%;
    text-align: center;
    position: relative;
    border: 3px solid red;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}

/*********** WARNING **************/
.flash_warning {
    background-color: #000;
    color: #fff;
    height: auto;
    width: 98%;
    text-align: center;
    position: relative;
    border: 3px solid yellow;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}

/************ INFO **********/
.flash_info {
    background-color: #000;
    color: #fff;
    position: relative;
    height: auto;
    width: 98%;
    text-align: center;
    border: 3px solid orangered;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}

/************
  PROFILE PHOTO IN FORM
***************/
.profile_photo {
    margin-top: 50px;
    width: 300px;
    height: 250px;
}

.display_picture {
    width: 100%;
    height: 200px;
}

/*************
 BACKGROUND COLOR FOR STUDENT INFO
*****************************************/
.background {
    background-color: #fff;
    width: 80%;
    padding: 30px;
    box-shadow: 10px 15px 30px 5px #000;
    margin: 100px auto auto auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/********************
 STUDENT INFO DIV
***********************/
.student_info {
  width: 100%;
  height: auto;
}

.student_info h2 {
    text-align: center;
}

.student_info li {
    float: left;
    margin: 10px;
    padding: 5px;
    border: 1px solid green; 
}

.student_info em {
    background-color: grey;
}

.student_info i {
    color: #565656;
}

/*********
 STUDENTS DIV
************/
.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/***************
 EDIT STUDENT BUTTON
***************/
.editStudent {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

/***************
  STUDENT  PROFILE CARD
***************************/
.card {
    width: 300px; 
    background-color: #88BBD6;   
    height: 350px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 2px 2px 5px 2px #000;
}

.card h2 {
    color: #fff;
}

/*****************
  FORMS
  ******************/
  .form {
      width: 90%;
      padding: 10px;
      margin: auto;
      font-family: 'Pontano Sans', sans-serif;
      margin-bottom: 50px;
      background-color: #DDDDDD;
      color: #000;
      height: 100%;
      text-align: center;
}

/**********
 LABEL
********************/
label {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
}

/******************
INPUT TYPE
**********************/
input[type='text'], input[type='email'], input[type='password'], input[type='submit'] {
    width: 90%;
    border: 1px solid #000;
    margin: 20px;
    height: 40px;
}

input[type='submit'] {
    font-family: 'Pontano Sans', sans-serif;
    background-color: #4484cE;
    border: 1px solid #000;
    font-size: 20px;
    font-weight: 200;
}
/*********************
 INPUT TYPE RADIO
*************************/
input[type='radio'] {
    width: 10px;
    border: 10px solid red;
}

.label {
    background-color: #75B09C;
    margin: 3px;
    padding: 2px;
    display: inline-block;
}

/******************
 RESOURCES PAGE
**************************/
.resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 0;
    height: 100%;
}

/********
 RESOURCE LIST
****************/
.resources-grid {
    text-align: center;
    padding: 30px;
    width: 50%;
    height: 100%;
    background-color: #96858F;
    color: #fff;
    margin: 20px;
}
.resources-grid i {
    font-size: 25px;
}

/*******
 BUTTONS
***************/
.button {
    width: 40%;
    height: 30px;
    background-color: #286DA8;
    border: none;
    margin: 5px;
}


/*****************
  FOOTER
************************/
 footer {
     color: #000;
     width: 80%;
     margin: auto;
     height: 30px;
     padding: 5px 0;
     text-align: center;
 }

 footer i {
     color: red;
 }

 footer h3 {
     padding: 0;
     margin: 0;
 }


 @media only screen 
 and (min-width : 600px) {
    .mobile_nav-div ul {
        text-align: center;
    } 

    .main {
        width: 92%;
        height: 100%;
        margin:  20px auto;
    }

    .heading {
        font-size: 18px;
    }

    .list_view {
        height: 400px;
    }

    .list_view-card {
        height: 150px;
        width: 20%;
    }

    .list_view-card a {
        font-size: 18px;
    }

    .list_view-card i {
        font-size: 40px;
    }
    
    .form {
        width: 50%;
        max-width: 1000px;
    }
    
 }
 @media only screen 
 and (min-width : 900px) {
     .main {
        width: 94%;
        height: 100%;
        margin:  20px auto;
    }
 }
 
