mixin forgotForm()
  form.form(action="/forgot-password" method='POST')
    h2 Forgot Password?
    label(for="email") Email Address
    input(type="email" id='email' name='email')
    input(type="submit" value='RESET')